{% extends "layout.html" %}
{% block header %}
<div id="navbar">
  <div class="navbaritem"><a href="/">visual</a></div>
  <div class="navbaritem"><a href="/sabermas">saber más</a></div>
  <div class="navbaritem"><a href="/leyelectoral">leyelectoral.es</a></div>
  <div class="current navbaritem"><a href="/">contacto</a></div>
</div>
{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="logo"></div>
  <div id="text" class="textbackground">
<p>¿Has encontrado alguna incorrección? ¿Conoces una propuesta de reforma que crees que debamos incluir? ¿Algo te ha gustado mucho o muy poco? Para cualquier cosa que nos quieras contar, puedes contactar con nosotros enviándonos un email a <strong>leyelectoral.es@gmail.com</strong></p>

Un cordial saludo,
<br/>
El equipo de <strong>leyelectoral.es</strong>
</div>
{% endblock %}
