{% extends "layout.html" %}
{% block content %}
<style type="text/css" media="screen">
#holder {
  margin: -350px 0 0 -350px;
  width: 700px;
  height: 700px;
  left: 50%;
  position: absolute;
  top: 50%;
}
body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
</style>
<div id="holder"></div>
<script>
(function (raphael) {
    $(function () {
        var values = [],
            labels = [];
        {% for party, results in votes %}
            values.push(parseInt("{{results}}", 10));
            labels.push("{{parties[party]|raw}}");
        {% endfor %}
        raphael("holder", 700, 700).pieChart(350, 350, 200, values, labels, "#fff");
    });
})(Raphael.ninja());
</script>
{% endblock %}
