<!DOCTYPE HTML>
<html>
    <head>
        <title>Ley electoral</title>
        <script src="/js/raphael.js"></script>
        <script src="/js/g.raphael-min.js"></script>
        <script src="/js/g.parliament.js"></script>
        <script src="/js/chart.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/underscore.js"></script>
        <script src="/js/backbone.js"></script>
        <script src="/js/le.js"></script>
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
