<!DOCTYPE HTML>
<html>
    <head>
        <title>Ley electoral</title>
        <script src="/js/raphael.js"></script>
        <script src="/js/g.raphael-min.js"></script>
        <script src="/js/g.parliament.js"></script>
        <script src="/js/chart.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/underscore.js"></script>
        <script src="/js/backbone.js"></script>
        <script src="{% block lejs %}/js/le.js{%endblock %}"></script>
        <link type="text/css" media="screen" href="/css/main.css" rel="stylesheet" ></link>
        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26406721-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
        </script>
    </head>
    <body>
        <div id="header">{% block header %}{% endblock %}</div>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
