{% extends "layout.html" %}
{% block header %}
<div id="navbar">
  <div class="navbaritem"><a href="/">visual</a></div>
  <div class="navbaritem"><a href="/">saber más</a></div>
  <div class="current navbaritem">leyelectoral.es</div>
  <div class="navbaritem"><a href="/">contacto</a></div>
</div>
{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="logo"></div>
  <div id="text" class="textbackground">
<p><strong>leyelectoral.es</strong> nace con la intención de mostrar en qué consiste la ley electoral española, qué deficiencias presenta y qué posibles reformas que podrían mejorarla.</p>

<p>En concreto, el objetivo principal es el de explicar de forma comprensible el proceso por el cual los votos de unas elecciones generales se transforman en escaños en el Congreso, observar en qué casos esa transformación puede resultar en una falta notable de proporcionalidad entre los votos recibidos y los escaños obtenidos, y ver qué reformas en la legislación electoral podrían eliminar o disminuir ese efecto.</p>

<p>Por el momento solo incluimos propuestas de reforma que no requieren modificar la Constitución, debido a la teórica dificultad que conlleva. De este modo, aunque la restricción que más afecta a la falta de proporcionalidad de nuestro sistema actual es la del tamaño de la circunscripción, no incluimos propuestas de reformas que afecten a este punto, por estar especificado en la Constitución que la circunscripción debe ser la provincia. Las propuestas que recogemos son, por tanto, propuestas que consiguen por otros medios mejorar la proporcionalidad del sistema de modo semejante al que podría hacerlo un cambio en el tamaño de la circunscripción.</p>

<p>Las dos primeras reformas presentadas están basadas en las que sugirió el Consejo de Estado en el informe que realizó en 2009. La tercera se fundamenta en la propuesta que llevó a cabo el departamento de investigación de la Universidad de Granada en su informe GIME de 2009.</p>

<p>Si conoces alguna propuesta de reforma sustancialmente diferente a las tres que mostramos, que creas que debemos incluir, no dudes en contactar con nosotros.</p>    
  </div>
</div>
{% endblock %}
