{% extends "layout.html" %}
{% block header %}
<div id="navbar">
  <div class="navbaritem"><a href="/">visual</a></div>
  <div class="current navbaritem">saber más</div>
  <div class="navbaritem"><a href="/leyelectoral">leyelectoral.es</a></div>
  <div class="navbaritem"><a href="/contacto">contacto</a></div>
</div>
{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="logo"></div>
  <div id="text" class="textbackground">
<h3>Legislación electoral actual</h3>

<p>La legislación que rige actualmente los procesos electorales en España está recogida en la Constitución y en la Ley Orgánica de Régimen Electoral General (LOREG). Entre ambas regulan, entre otras cosas: el tamaño de la circunscripción, el número de escaños en el congreso, el número mínimo de escaños por circunscripción, el porcentaje mínimo de votos en la circunscripción para optar a un escaño y el método de reparto de los escaños dentro de la circunscripción. El resumen de estas normas es el siguiente:</p>

<ul>
<li>La circunscripción electoral es la provincia. Así queda recogido en la Constitución.</li>
<li>Hay 350 escaños en el Congreso. La Constitución dictamina que el Congreso debe estar compuesto por entre 300 y 400 diputados, y la LOREG concreta actualmente que deben ser 350.</li>
<li>A cada provincia le corresponden al menos dos escaños. A Ceuta y Melilla les corresponde un escaño. Ambas afirmaciones están recogidas en la LOREG, la Constitución contempla tan solo la segunda.</li>
<li>Un partido debe tener al menos un 3% de los votos en la circunscripción para a optar a un escaño. Es la LOREG la que establece este mínimo.</li>
<li>Los escaños dentro de la circunscripción se reparten mediante la Ley D’Hont. La Constitución indica que se debe emplear un método de reparto proporcional (no mayoritario) y es la LOREG la que concreta que este debe ser D’Hont.</li>
</ul>



<h3>El problema: la falta de proporcionalidad del sistema</h3>

<p>Los resultados de la transformación de votos a escaños muestran en ciertos casos grandes incoherencias entre los votos recibidos y los escaños obtenidos. Esto sucede concretamente cuando un partido que no es uno de los dos mayoritarios, tiene sus votos dispersos geográficamente. La causa principal es la existencia de muchas circunscripciones pequeñas, en las que solo se reparten unos pocos escaños. En esas circunscripciones (provincias) es extremadamente difícil para un partido no mayoritario ni regional conseguir los suficientes votos para obtener uno de los escaños. Esto finalmente se traduce en que ese partido acaba teniendo un buen puñado de votos en cada provincia, que sumados le colocarían como una fuerza política de importancia considerable a nivel nacional, pero que no le permiten conseguir apenas ningún escaño en casi ninguna provincia.</p>

<p>Otra deficiencia del sistema es la referente al distinto valor del voto según la provincia. Por ejemplo, un voto en Soria vale tres veces más que un voto en Madrid, pues a Soria le corresponden 3 escaños con X habitates y a Madrid 35 con X habitantes.</p>

<p>Las reformas propuestas en leyelectoral.es están principalmente dirigidas a atajar el problema de la falta de proporcionalidad entre votos y escaños, pero las medidas empleadas también podrían mejorar en cierta medida la cuestión del distinto valor del voto según la provincia.</p>

<h3>Las posibles reformas</h3>

<p>A los largo de los últimos años han sido muchas las propuestas de reforma de la ley electoral que se han ido sugiriendo desde diferentes sectores. Estas reformas abarcan desde pequeñas modificaciones hasta complejos sistemas. Nosotros hemos decidido reunir por el momento solo reformas que pudieran hacerse sin necesidad de modificar la Constitución. Ello implica que no se puede cambiar el tamaño de la circunscripción. Esta restricción es la más “culpable” de las deficiencias del sistema, sin embargo, es posible mejorar la proporcionalidad del sistema sin tocar el tamaño de la circunscripción.</p>

   

    <p><h3>Propuesta de reforma 1</h3></p>

    <p><h3>PPropuesta de reforma 2</h3></p>

    <p><h3>PPropuesta de reforma 3</h3></p>
  </div>
</div>
{% endblock %}
