{% extends "layout.html" %}
{% block header %}
<div id="navbar">
  <div class="navbaritem"><a href="/">resultados 2011</a></div>
  <div class="navbaritem"><a href="/resultados2008">resultados 2008</a></div>
  <div class="current navbaritem">saber más</div>
  <div class="navbaritem"><a href="/leyelectoral">leyelectoral.es</a></div>
  <div class="navbaritem"><a href="/contacto">contacto</a></div>
</div>
{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="logo"></div>
  <div id="text" class="textbackground">
<h3>Legislación electoral actual</h3>

<p>La legislación que rige actualmente los procesos electorales en España está recogida en la Constitución y en la Ley Orgánica de Régimen Electoral General (LOREG). Entre ambas regulan, entre otras cosas: el tamaño de la circunscripción, el número de escaños en el congreso, el número mínimo de escaños por circunscripción, el porcentaje mínimo de votos en la circunscripción para optar a un escaño y el método de reparto de los escaños dentro de la circunscripción. El resumen de estas normas es el siguiente:</p>

<ul>
<li>La circunscripción electoral es la provincia. Así queda recogido en la Constitución.</li>
<li>Hay 350 escaños en el Congreso. La Constitución dictamina que el Congreso debe estar compuesto por entre 300 y 400 diputados, y la LOREG concreta actualmente que deben ser 350.</li>
<li>A cada provincia le corresponden al menos dos escaños. A Ceuta y Melilla les corresponde un escaño. Ambas afirmaciones están recogidas en la LOREG, la Constitución contempla tan solo la segunda.</li>
<li>Un partido debe tener al menos un 3% de los votos en la circunscripción para a optar a un escaño. Es la LOREG la que establece este mínimo.</li>
<li>Los escaños dentro de la circunscripción se reparten mediante la Ley D’Hont. La Constitución indica que se debe emplear un método de reparto proporcional (no mayoritario) y es la LOREG la que concreta que este debe ser D’Hont.</li>
</ul>



<h3>El problema: la falta de proporcionalidad del sistema</h3>

<p>Los resultados de la transformación de votos a escaños muestran en ciertos casos grandes incoherencias entre los votos recibidos y los escaños obtenidos. Esto sucede de forma muy acusada cuando un partido no mayoritario tiene sus votos dispersos geográficamente. La causa principal es la existencia de muchas circunscripciones pequeñas, en las que solo se reparten unos pocos escaños. En esas circunscripciones (provincias) es extremadamente difícil para un partido no mayoritario ni regional conseguir los suficientes votos para obtener uno de los escaños. Esto finalmente se traduce en que ese partido puede acabar teniendo un buen puñado de votos en cada provincia, que sumados le colocarían como una fuerza política importante a nivel nacional, pero que no le permiten conseguir apenas ningún escaño debido a la división provincial.</p>

<p>Otra deficiencia del sistema es la referente al distinto valor del voto según la provincia. Por ejemplo, un voto en Soria vale tres veces más que un voto en Madrid. A Soria, con una población de 93.593 habitantes, le corresponden 2 escaños (uno cada 46.796 habitantes) y Madrid, con 6.081.689 habitantes, tiene 35 escaños (uno cada 173.762 habitantes).</p>

<p>Las reformas propuestas en <strong>leyelectoral.es</strong> están principalmente dirigidas a atajar el problema de la falta de proporcionalidad entre votos y escaños, pero las medidas empleadas también podrían mejorar en cierta medida la cuestión del distinto valor del voto según la provincia.</p>

<h3>Las posibles reformas</h3>

<p>A los largo de los últimos años han sido muchas las propuestas de reforma de la ley electoral que se han ido sugiriendo desde diferentes sectores. Estas reformas incluyen todo tipo de modificaciones en las normas recogidas en la LOREG y la Constitución. En <strong>leyelectoral.es</strong> hemos decidido reunir por el momento solo reformas que pudieran hacerse sin necesidad de modificar la Constitución. El objetivo es que la teórica dificultad que conlleva cambiar la Constitución no sea un impedimento para llevar a cabo la reforma de nuestra ley electoral.</p>

<p>De entre todas las leyes que regulan el sistema electoral, la que fija la provincia como circunscripción electoral es la principal causante del desajuste proporcional que se pretende solucionar. Aún así, es posible llegar a solventarlo sin cambiar el tamaño de la circunscripción.</p>

<p>Por otra parte, la división provincial hace que la restricción del 3% no tenga efecto alguno en el resultado. Ningún partido se queda sin escaño en una provincia debido a ese mínimo del 3% (los votos necesarios para conseguir escaño en la circunscripción provincial están siempre por encima de ese 3%). Ese es el motivo de que las propuestas que recogemos se centren en modificar las tres restricciones restantes: el tamaño del congreso, el reparto de escaños por provincia y el reparto de escaños dentro de la provincia.</p>

  </div>
</div>
{% endblock %}
